$white: #ffffff;
$background: #e7e7e7;
$foreground: #f9f9f9;
$text: #e7e7e7;
$text-light: #fafafa;
$text-dark: #e3e3e3;
$shadow: rgba(149 157 165 / 20%);
$text-overlay: #292d36;
$text-overlay-light: #444a57;
$text-overlay-dark: #1b0703;
$link: #4c659b;
$link-light: #6682be;
$link-dark: #354a79;
$red: #c14040;
$red-light: #d75858;
$red-dark: #a72f2f;

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
