$background: #e7e7e7;
$foreground: #f9f9f9;
$text: #e7e7e7;
$text-bg: #444a57;
$grey-light: #524d4d;
$grey-dark: #1b0703;
$shadow: rgba(149 157 165 / 20%);

$sans-serif: Verdana, Geneva, Tahoma, sans-serif;
